
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


/* header section */

.header-section{
  background-image: url('../assets/Hero-bg.png');
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 500px;
  padding-top: 60px;
  padding-bottom: 50px;
  display: block;
}
.paragraph-color{
  color: rgb(13, 19, 33, 0.7);
  padding-bottom: 20px;
}
header button{
  width: 220px;
  height: 60px;
  background-color: rgb(13, 19, 33);
  border-radius: 10px;
}
.special-btn{
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-family: "Azeret Mono", monospace;
}
/* main section */
.heading-color{
  color: black;
}
.web-development-section{
  color: rgb(13, 19, 33, 0.7);
  display: block;
  width: 1440px;
  height: 1600px;
  margin-top: 150px;
  margin-left: 210px;
  padding-top: 25px;
}
.development-section{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.first-part{
  display: flex;
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 50px;
  justify-content: space-between;
  gap: 30px;
  margin: 90px;
}
.middle-part{
  display: flex;
  padding-top: 30px;
  padding-right: 180px;
  padding-left: 50px;
  justify-content: space-between;
  gap: 30px;
  margin: 90px;
}
.last-part{
  display: flex;
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 50px;
  justify-content: space-between;
  gap: 30px;
  margin: 90px;
}
/* inspiration section */

.inspiration-section{
  display: block;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}
.youtube-video{
  margin-top: 40px;
  border-radius: 15px;

  
}